---
import Head from '../components/Head.astro';
import Body from '../components/Body.astro';
import Date from '../components/Date.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.published.valueOf() - b.data.published.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<Body>
		<section>
			<ul>
			{
				posts.map((post) => (
					<li>
						<Date date={post.data.published} />
						<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
					</li>
				))
			}
			</ul>
		</section>
	</Body>
</html>

<style>
	li {
		list-style: none;
	}
</style>
